name: Build and Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y cmake clang  # Install CMake and GCC

    - name: Configure CMake
      run: cmake -S . -B build

    - name: Build project
      run: cmake --build build --config Debug --verbose

    - name: Run doctest tests
      run: ./build/MathTests.elf
